<div class="mt-4">
    <h3>Cập Nhật Khóa Học</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="" class="form-label" >Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" name="name" id="name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label" >Mô tả</label>
            <textarea class="form-control" name="description" id="description"> {{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="" class="form-label" >Video ID</label>
            <input type="text" class="form-control" value="{{course.videoId}}" name="videoId" id="videoId">
        </div>
        <div class="mb-3">
            <label for="" class="form-label" >Trình độ</label>
            <input type="text" class="form-control" value="{{course.level}}" name="level" id="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>